body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    min-height: 100vh;
    margin: 0;
    background-color: #eeb1b172;
  }
  
  h1 {
    color: #333;
  }
  
  .score {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
  }
  
  .message {
    margin-top: 20px;
    font-size: 20px;
  }
  
  button {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  